*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
 background-image: url("../images/bg.PNG");
 background-color: rgba(255, 0, 0, 0.548);
  background-size: cover;
  background-repeat: no-repeat;
}

/* app .js */

.mainbox{
  height: 100vh;
}

/* Header.js */

.header h2 {
  padding-top: 2rem;
  font-size: 3rem;
  font-weight: 700;
}

/* Add Contact js */

.contactInputBox {
  margin: auto;
  width: 50%;
  height: 400px;
 background: linear-gradient(145deg,rgb(1, 79, 5),rgb(2, 126, 6));
  margin-top: 2rem;
  overflow: hidden;
  padding: 2rem;
  border-radius: 30px;
}
.contactInputBox h2 {
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
}
.inputField input{
  width: 70%;
  height: 50px;
  margin-top: 2rem;
  text-align: center;
  border-radius: 20px;
  outline: none;
  border: none;
}
::placeholder{
  text-align: center;
  font-size: 1.3rem;
  font-weight: 600;
}
.addButton{
  margin-top: 2rem;
  width: 150px;
  height: 40px;
  color: #000000;
  background-color: rgb(151, 0, 43);
  border: none;
  outline: none;
  border-radius: 20px;
  transition: .3s ease-in-out;
}
.addButton:hover{
  background-color: #e90822;
  scale: 1.1;
}
.view-contact-list{
  width: 200px;
  background: transparent;
  outline: none;
  border: none;
 font-weight: 700;
 padding-top: 1.5rem;
}

/* contact card */
.item {
  margin: auto;
  width: 60%;
  margin-top: 1rem;
  background: linear-gradient(180deg,#d4d4d4,#9a9a9a);
  border: 3px solid rgb(0, 0, 0);
  border-radius: 20px;
  padding: 2rem;
  transition: .3s ease-in-out;
}
.nameHeader{
  font-size: 1.2rem;
  font-weight: 700;
}
.nameHeader i{
  scale: 1.9;
  padding: .3rem;
  border-radius: 50%;
  color:#000;
}
.nameHeader i:hover{
  color: rgb(128, 15, 0);
}
.nameHeader img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50px;
}

/* contact list */
.contactListBox h2{
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
}
.add-contact{
  width: 200px;
  height: 50px;
  border: none;
  outline: none;
  color: #000;
  background-color: green;
  border-radius: 20px;
  transition: .3s ease-in-out;
  font-weight: 700;
}

.add-contact:hover{
  background-color: rgb(1, 83, 1);
}